.nav_text_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_text_container h1 {
    margin: 30px;
    font-size: 50px;
    color: rgba(225, 225, 225, 0.01);
    background-image: url("../../../image/1679324817_bogatyr-club-p-gradient-cherno-belii-foni-instagram-72.png");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 50s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
.nav_wrapper {
    width: 150%;
}
.nav_form {
    display: flex;
}
.nav_btn {
    margin-left: 4px;
}

@keyframes animate {
    0%,
    100% {
        background-position: left top;
    }
    25% {
        background-position: right;
    }
    50% {
        background-position: left;
    }
    75% {
        background-position: right top;
    }
}
