@keyframes scrollBg {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-330px);
  }
}

.scroll-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding-bottom: 330px;
  background-color: white;
  background-image: url('../../image/Checklist-pana.png');
  background-size: cover;
  animation: scrollBg 35s linear forwards infinite alternate;
}